<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @availability_product.name %>
</p>

<%= link_to 'Edit', edit_availability_product_path(@availability_product) %> |
<%= link_to 'Back', availability_products_path %>
