<section id="about">
        <div class="container">
            <!-- Columns are always 50% wide, on mobile and desktop -->
            <div class="row p-l-15 p-r-15 m-b-80 m-t-80">
                <div class="col-md-6 p-b-10 col-logo">
                    <%= image_tag "portfolio1.jpg", alt: 'portfolio1', class: 'hvr-hang img-fluid img-circle img-responsive' %>
                </div>
                <div class="col-md-6">
                    <div class="col-about">
                        <h3 class="text-medium text-blue title">You're Company Name</h3>
                        <p class="text-justify fs-15 text-grey">
                             Kami adalah para pemuda yang ingin berkembang dan menjadi lebih maju. Kami sangat senang dengan photography,
                             untuk itu kami membuat situs ini guna memudahkan para pecinta photography dalam mendapatkan kamera serta aksesoris lainnya agar lebih mudah.
                        </p>
                        <p class="text-justify fs-15 text-grey">
                            Lanjutannya dah....
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
