<section id="about">
        <div class="container">
            <!-- Columns are always 50% wide, on mobile and desktop -->
            <div class="row p-l-15 p-r-15 m-b-80 m-t-80">
                <div class="col-md-6 p-b-10 col-logo">
                    <%= image_tag "pakehero", alt: 'Pake Heros', class: 'hvr-hang img-fluid img-circle img-responsive' %>
                </div>
                <div class="col-md-6">
                    <div class="col-about">
                        <h3 class="text-medium text-blue title">PAKEHERO's</h3>
                        <p class="text-justify fs-15 text-grey">
                             Kami dari Pakehero menyediakan layanan sewa/rental kamera terlengkap, terbaik dan termurah di Jabodetabek. Let's make the best moment bersama orang yang kalian sayang di saat liburan , kumpul keluarga, wisuda , snorkling, diving, travelling , Hiking , Tahun baru, bepergian bersama pasangan juga bisa loh  ????
                        </p>
                        <p class="text-justify fs-15 text-grey">
                             Kami selalu melayani Customer dengan sepenuh hati. Grab it fast guys
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
