<!-- Footer -->
    <section class="py-5" id="contact">
        <div class="container ">
            <div class="row m-b-20">
                <div class="col-md-6 text-white text-center">
                    <h6 class="p-b-10"><strong>Social Media</strong></h6>
                    <ul class="list-unstyled fs-14 ">
                        <li class="footer-a p-b-5 ">
                            <a target="_blank" rel="noopener noreferrer" href="https://api.whatsapp.com/send?phone=6281222225939">
                            <i class="fab fa-whatsapp" aria-hidden="true "></i> Whatsapp</a>
                        </li>
                        <li class="footer-a p-b-5 ">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/pakehero/">
                            <i class="fab fa-instagram" aria-hidden="true "></i> Instagram</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 text-white text-center">
                    <h6 class="p-b-10"><strong>My Contact</strong></h6>
                    <ul class="list-unstyled fs-14 ">
                        <li class="footer-a p-b-5 ">
                                <i class="fa fa-phone " aria-hidden="true "> +6281212941016 / +6287776074670</i>
                        </li>
                        <li class="footer-a p-b-5 ">
                                <i class="far fa-envelope" aria-hidden="true"> pakehero@gmail.com</i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center m-t-50"> 
                    <p class="m-0 text-white fs-14"><strong>Copyright 2019 &copy; Pake Hero</strong></p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
