<!-- Footer -->
    <section class="p-0" id="contact">
        <div class="container">
            <div class="row m-b-20 link-footer">
                <div>
                    <h6 class="p-b-10"><strong>Locations</strong></h6>
                    <ul class="list-unstyled fs-14 ">
                        <li class="footer-a p-b-5 ">
                            Jakarta
                        </li>
                        <li class="footer-a p-b-5 ">
                            Bogor
                        </li>
                        <li class="footer-a p-b-5 ">
                            Depok
                        </li>
                        <li class="footer-a p-b-5 ">
                            Bekasi
                        </li>
                        <li class="footer-a p-b-5 ">
                            Tangerang
                        </li>
                    </ul>
                </div>
                <div>
                    <h6 class="p-b-10"><strong>Social Media</strong></h6>
                    <ul class="list-unstyled fs-14 ">
                        <li class="footer-a p-b-5 ">
                            <a target="_blank" rel="noopener noreferrer" href="https://api.whatsapp.com/send?phone=6281222225939">
                            <i class="fab fa-whatsapp" aria-hidden="true "></i> Whatsapp</a>
                        </li>
                        <li class="footer-a p-b-5 ">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/pakehero/">
                            <i class="fab fa-instagram" aria-hidden="true "></i> Instagram</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h6 class="p-b-10"><strong>Contact</strong></h6>
                    <ul class="list-unstyled fs-14 ">
                        <li class="footer-r p-b-5 ">
                            <a class="footer-right">
                                <i class="fa fa-phone " aria-hidden="true "></i> +6281212941016 / +6287776074670
                            </a>
                        </li>
                        <li class="footer-r p-b-5 ">
                            <a class="footer-right">
                                <i class="far fa-envelope" aria-hidden="true"></i> pakehero@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright"> 
            Copyright 2019 &copy; Pakehero's
        </div>
        <!-- /.container -->
    </section>
