<header class="text-center text-white d-flex">
      <!-- <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Your Favorite Source of Free Bootstrap Themes</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div> -->
    <div class="overlay"></div>
        <%= video_tag "wonderfullindonesia.mp4", :playsinline => "playsinline", :autoplay => "autoplay", :muted => "muted", :loop=> "loop" %>
      <div class="container h-100">
        <div class="d-flex flex-column justify-content-around h-100 text-center align-items-center">
          <div class="flex-grow-1 m-b-100">
          </div>
          <div class="w-100 text-header text-center">
            <h3>Mau liburan tapi ga ada kamera ?</h3>
            <h3>Mau motret pake Sony A7 mark III cuma 350 ribu ?</h3>
            <h3 class="display-4">Sewa aja di <strong>@pakehero</strong></h3>
          </div>
          <div>
            <a class="nav-link m-t-100 text-white text-center js-scroll-trigger hvr-hang" href="#about"><i class="fas fa-2x fa-arrow-down"></i></a>
          </div>
        </div>
        </div>
      </div>
</header>
