<section id="testimoni">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">What our customers are saying</h3>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel owl-theme">
                    <blockquote><p class="quotation"> 
                    Terima kasih PakeHero. Barang pesanan ku sony A6000 sudah di terima dengan selamat dan cepat. Baru bayar 2 sudah sampai di tempat. Di kota Bogor. Saya rekomendasikan sewa saja di pakehero murah dan terjamin.</p>
                    <footer>— Antonius Angga Kurniawan</footer>
                    </blockquote> 
                    <blockquote><p class="quotation"> 
                    cepat dan terpercaya!</p>
                    <footer>— Elvin Arief</footer>
                    </blockquote> 
                    <blockquote><p class="quotation"> 
                    No doubt one may quote history to support any cause, as the devil quotes scripture.</p>
                    <footer>— Mutiara Romana K</footer>
                    </blockquote> 
                </div>
            </div>
        </div>
    </div>
</section>
