@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

/*-------------------
 about
--------------------*/
#about {
    .col-logo {
        text-align: center;
    }

    .col-about .text-title {
        color: $color5;
        font-family: 'Source Sans Pro',
            sans-serif;
        font-weight: bold;
    }

    .col-about .text-title:after {
        background: $color5;
        content: '';
        display: block;
        height: 5px;
        margin: 20px 0;
        width: 80px;
    }


    .col-about p {
        font-family: 'Source Sans Pro',
            sans-serif;
        color: $text-light;
    }
}
