$color1: #fbfbfb !default;
$color2: #b9e1dc !default;
$color3: #f38181 !default;
$color4: #756c83 !default;

$color5: #22a7f0;
$color6: #22313f;
$color7: #3498db;


$bg-white: #ffffff !default;
$bg-black: #000000 !default;
$bg-grey: #c5c5c5 !default;

$text-light: rgba(26, 26, 26, .9) !default;
$text-mute: #686d73 !default;
