// Styling for the masthead
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

header.myheader {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url('camera1.jpg');
    background-position: center center;
    @include background-cover;

    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-weight: 300;
    }

    @media (min-width: 768px) {
        p {
            font-size: 1.15rem;
        }
    }

    @media (min-width: 992px) {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;

        h1 {
            font-size: 3rem;
        }
    }

    @media (min-width: 1200px) {
        h1 {
            font-size: 4rem;
        }
    }
}

header {
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
    }

    .text-header h5,
    h3 {
        font-family: 'Source Sans Pro',
            sans-serif;
        color: #ffffff;
    }
}

/* @media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;

        video {
            display: none;
        }
    }
}
*/
