@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

#mainNav {
    border-bottom: 1px solid fade-out($color6, .9);
    background-color: $bg-white;
    @include sans-serif-font;
    @include transition-all;
    font-family: 'Source Sans Pro',
        sans-serif;

    .dropdown-item {
        &:active {
            background-color: $bg-white;
            color: $color5;
        }

        &:hover {
            color: $color5;
        }
    }

    .navbar-brand {
        font-weight: 700;
        color: #333333;
        @include sans-serif-font;
        font-family: 'Source Sans Pro',
            sans-serif;

        &:focus,
        &:hover {
            color: darken($color5, .1);
        }
    }

    .navbar-nav {
        >li.nav-item {

            >a.nav-link,
            >a.nav-link:focus {
                font-size: .9rem;
                color: #333333;

                &:hover {
                    color: $color5;
                }

                &.active {
                    color: $color5 !important;
                    background-color: transparent;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        border-color: transparent;
        background-color: transparent;
        font-family: 'Source Sans Pro',
            sans-serif;

        .navbar-brand {
            color: fade-out($bg-white, .3);
            font-family: 'Source Sans Pro',
                sans-serif;

            &:focus,
            &:hover {
                color: $bg-white;
            }
        }

        .navbar-nav>li.nav-item>a.nav-link {
            padding: 0.5rem 1rem;
        }

        .navbar-nav>li.nav-item>a.nav-link,
        .navbar-nav>li.nav-item>a.nav-link:focus {
            color: fade-out($bg-white, .3);

            &:hover {
                color: $bg-white;
            }
        }

        &.navbar-shrink {
            border-bottom: 1px solid fade-out(#62ACB5, .9);
            background-color: $bg-white;
            font-family: 'Source Sans Pro',
                sans-serif;

            .navbar-brand {
                color: #333333;
                font-family: 'Source Sans Pro',
                    sans-serif;

                &:focus,
                &:hover {
                    color: darken($color5, .1);
                }
            }

            .navbar-nav>li.nav-item>a.nav-link,
            .navbar-nav>li.nav-item>a.nav-link:focus {
                color: #333333;

                &:hover {
                    color: $color5;
                }
            }
        }
    }
}
