@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

#mainNav {
    .navbar-nav>li.nav-item>a.nav-link {
        padding: 0.5rem 1rem;

        &:hover {
            color: #fb474d;
        }

        &.active {
            color: #fb474d;
            font-weight: 700;
        }
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-menu a {
        float: none;
        color: #2f4154;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-menu a:hover {
        background-color: #ececec;
        color: #fb474d;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* #mainNav {
    border-bottom: 1px solid fade-out($color6, .9);
    background-color: $bg-white;
    @include sans-serif-font;
    @include transition-all;
    font-family: 'Source Sans Pro',
        sans-serif;

    .dropdown-item {
        &:active {
            background-color: $bg-white;
            color: $color5;
        }

        &:hover {
            color: $color5;
        }
    }

    .navbar-brand {
        font-weight: 700;
        color: #333333;
        @include sans-serif-font;
        font-family: 'Source Sans Pro',
            sans-serif;

        &:focus,
        &:hover {
            color: darken($color5, .1);
        }
    }

    .navbar-nav {
        >li.nav-item {

            >a.nav-link,
            >a.nav-link:focus {
                font-size: .9rem;
                color: #333333;

                &:hover {
                    color: $color5;
                }

                &.active {
                    color: $color5 !important;
                    background-color: transparent;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        border-color: transparent;
        background-color: transparent;
        font-family: 'Source Sans Pro',
            sans-serif;

        .navbar-brand {
            color: fade-out($bg-white, .3);
            font-family: 'Source Sans Pro',
                sans-serif;

            &:focus,
            &:hover {
                color: $bg-white;
            }
        }

        .navbar-nav>li.nav-item>a.nav-link {
            padding: 0.5rem 1rem;
        }

        .navbar-nav>li.nav-item>a.nav-link,
        .navbar-nav>li.nav-item>a.nav-link:focus {
            color: fade-out($bg-white, .3);

            &:hover {
                color: $bg-white;
            }
        }

        &.navbar-shrink {
            border-bottom: 1px solid fade-out(#62ACB5, .9);
            background-color: $bg-white;
            font-family: 'Source Sans Pro',
                sans-serif;

            .navbar-brand {
                color: #333333;
                font-family: 'Source Sans Pro',
                    sans-serif;

                &:focus,
                &:hover {
                    color: darken($color5, .1);
                }
            }

            .navbar-nav>li.nav-item>a.nav-link,
            .navbar-nav>li.nav-item>a.nav-link:focus {
                color: #333333;

                &:hover {
                    color: $color5;
                }
            }
        }
    }
}
*/
