@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

#services {
    background-color: $bg-white;
    padding-top: 60px;
    padding-bottom: 60px;

    .section-heading {
        color: #333333;
        font-family: 'Source Sans Pro',
            sans-serif;
        font-size: 32px;
    }

    .service-box {
        max-width: 400px;

        .fas {
            color: #fb474d !important;
        }

        .service-title {
            color: #2f4154;
            font-family: 'Source Sans Pro',
                sans-serif;
        }

        .text-muted {
            color: #787878;
            font-family: 'Source Sans Pro',
                sans-serif;
        }
    }
}
