@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');

#services {
    background-color: $color5;

    .section-heading {
        color: $bg-white;
        font-family: 'Source Sans Pro',
            sans-serif;
    }

    .my-4 {
        border-color: $bg-white;
    }

    .service-box {
        max-width: 400px;

        .fa {
            color: $color6;
        }

        .service-title {
            color: $bg-white;
            font-family: 'Source Sans Pro',
                sans-serif;
        }

        .text-muted {
            color: $bg-white !important;
            font-family: 'Source Sans Pro',
                sans-serif;
        }
    }
}
